body {
    background-color: rgb(241, 241, 241);
    font-family: "Roboto", sans-serif;
    color: rgb(72, 72, 72);
    margin: 0px
}

.main {
    max-width: 1350px;
    /* padding: 0px 20px; */
    /* display: flex;
    flex-direction: row; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.name {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    /* font-family: comic sans ms; */
    text-shadow: 0px 0px 5px white, 0px 0px 5px rgb(255, 255, 255);
}

.engg {
    /* line-height: 2; */
    padding: 0px 10px;
    /* font-size: 17px; */
}

.pp {
    padding-right: 3%;
}

.material-icons {
    color: rgb(0, 150, 136);
    vertical-align: center;
    /* border: 5px solid black; */
    /* padding-right: 20px; */
}

.colo {
    color: rgb(0, 150, 136);
}

.card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: rgb(255, 255, 255);
}

.photo {
    width: 100%
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media(max-width:711px) {
    .left {
        width: auto!important;
        float: none!important;
        margin: 0px 16px 16px 16px !important;
        /* transition: width 0.5s ease-in; */
    }
    .workexp,
    .eduaction {
        margin: 0px 16px 16px 16px !important;
    }
}

.left {
    /* text-indent: 2px; */
    /* padding: 10px; */
    /* padding-top: 18%; */
    transition: width 0.5s ease-out;
    text-align: start;
    margin: 0px 8px 16px 16px;
    /* background-image: url('photo.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 32%;
    /* display: flex;
    flex-direction: column; */
    float: left;
    min-width: 270px;
    /* max-width: 500px; */
    /* flex: 1.9; */
    /* box-shadow: 0 0 15px rgb(113, 113, 113); */
}

.skills {
    margin-left: 10px;
}

hr {
    /* width: 50px; */
    /* padding: px; */
    border: 0.01px solid rgba(245, 245, 245, 0);
    background-color: rgba(0, 0, 0, 0.138);
}

.box {
    /* border: 2px solid rgb(0, 150, 136); */
    background-color: rgb(0 0 0 / 16%);
    width: 96%;
    border-radius: 100px;
    margin: 10px 0px 20px 10px;
    padding: 0px;
}

.percentage {
    /* width: 75%; */
    background-color: rgb(0, 150, 136);
    text-align: center;
    border-radius: 100px;
    /* border-radius: 50px; */
    color: white;
    padding: 1px;
    font-size: 13px;
}

.right {
    /* margin: 10px; */
    /* flex: 4; */
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.workexp {
    /* box-shadow: 0 0 15px rgb(113, 113, 113);
    background-color: rgb(255, 255, 255); */
    padding: 25px 15px;
    margin: 0px 16px 16px 8px;
    /* background-color: chartreuse; */
    /* border: 5px solid brown; */
}

.restt {
    padding: 0px 20px;
}

.restt>.txt2rest {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 10px 0px;
}

.restt>.txt2 {
    margin: 30px 0px 0px 0px;
}

.flexx {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cal {
    margin-right: 20px;
}

.black {
    color: black;
    margin-bottom: 20px;
}

.current {
    color: white;
    background-color: rgb(0, 150, 136);
    border-radius: 5px;
    /* padding: 2px; */
    width: 90px;
    margin-left: 5px;
    text-align: center;
}

.restt>.txt3 {
    align-content: center;
}

.eduaction {
    /* box-shadow: 0 0 15px rgb(113, 113, 113);
    background-color: rgb(255, 255, 255); */
    padding: 25px 15px;
    margin: 0px 16px 0px 8px;
    /* background-color: cornflowerblue; */
    /* border: 5px solid rgb(42, 165, 87); */
}

.txt1 {
    font-size: 32px;
    /* font-weight: bold; */
    /* padding-bottom: 20px; */
}

.txt2 {
    font-size: 24px;
    /* font-weight: bold; */
}

.txt3 {
    font-size: 18.72px;
    color: rgb(0, 150, 136);
}

.txt4 {
    font-size: 18.72px;
}

.alignn {
    display: flex;
    align-items: center;
}

.fab {
    color: white;
    margin: 2px;
}

.footer {
    transition: color 0.2s ease;
    background-color: rgb(0, 150, 136);
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.footicon:hover {
    transition: color 0.2s ease;
    color: rgba(255, 255, 255, 0.694);
    /* color: rgb(255, 0, 0); */
}


/* .blue {
    border: 5px solid blue;
    padding: 10px;
    margin: 0px;
}

.red {
    border: 5px solid rgb(255, 0, 0);
    padding: 0px;
    margin: 0px;
} */